<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                    {% for todo in todolist_list %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' todo.pk %}">{{ todo.name }}</a>
                        </td>
                        <td>{{ todo.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </main>
</body>
</html>

